.basic-info__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.basic-info__box {
  text-align: left;
  width: 25rem;
}
.data{
  display: flex;
  padding: 5px 0;
}
.data > h4{
  font-size: 1.2rem;
  font-weight: bold;
}
.data > h5{
  margin-left: 1rem;
  font-weight: 400;
}

.basic-info__heading {
  text-align: center;
  background-color: #EEFDFC;
  padding:10px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}
