<div class="example-wrapper" style="min-height: 400px" display="flex">
  <div class="col-xs-12 col-sm-6 example-col">
    <p>AutoComplete</p>
    <kendo-autocomplete
      [data]="listItems"
      [placeholder]="'Your favorite sport'"
      [(ngModel)]="se"
    >
    </kendo-autocomplete>
  </div>
  <p>
    You Selected<span style="color: blue">{{ se }}</span>
  </p>
  <div class="col-xs-12 col-sm-6 example-col">
    <p>ComboBox</p>
    <kendo-combobox [data]="listItems" [value]="'Basketball'" [(ngModel)]="d2">
    </kendo-combobox>
    <p style="color: chocolate">{{ d2 }}</p>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>DropDownList</p>
    <kendo-dropdownlist
      [data]="listItems"
      [value]="'Basketball'"
      [(ngModel)]="d1"
    >
    </kendo-dropdownlist>
    <p>{{ d1 }}</p>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>DropDownTree</p>
    <kendo-dropdowntree
      kendoDropDownTreeExpandable
      [kendoDropDownTreeHierarchyBinding]="treeItems"
      textField="text"
      valueField="id"
      childrenField="items"
      [value]="complexValue"
      [(ngModel)]="drop"
      [popupSettings]="{
        width: '230px'
      }"
      [expandedKeys]="['1']"
    ></kendo-dropdowntree>
    <p style="color: chocolate">{{ drop }}</p>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>MultiColumnComboBox</p>
    <kendo-multicolumncombobox
      [data]="gridData"
      [textField]="'name'"
      [valueField]="'id'"
      [placeholder]="'Select an employee'"
      [(ngModel)]="gridData1"
    >
      <kendo-combobox-column [field]="'name'" [title]="'Name'" [width]="200">
      </kendo-combobox-column>
      <kendo-combobox-column [field]="'title'" [title]="'Title'" [width]="200">
      </kendo-combobox-column>
      <kendo-combobox-column [field]="'phone'" [title]="'Phone'" [width]="200">
      </kendo-combobox-column>
    </kendo-multicolumncombobox>
    <p style="color: chartreuse">{{ gridData1 }}</p>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>MultiSelect</p>
    <kendo-multiselect
      [(ngModel)]="multiselect"
      [data]="listItems"
      [value]="value"
      [placeholder]="'Your favorite sports'"
    ></kendo-multiselect>
    <p style="color: blueviolet">{{ multiselect }}</p>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>MultiSelectTree</p>
    <kendo-multiselecttree
      kendoMultiSelectTreeExpandable
      [kendoMultiSelectTreeHierarchyBinding]="treeItems"
      [textField]="'text'"
      [valueField]="'id'"
      [childrenField]="'items'"
      [expandedKeys]="['0']"
      [(value)]="complexArrayValue"
    >
    </kendo-multiselecttree>
  </div>
</div>

<kendo-editor style="height: 250px"> </kendo-editor>
<app-student-table></app-student-table>
