<div style="height: 100%">
  <h1
    style="
      font-size: 2rem;
      font-weight: 800;
      background-color: #ff6358;
      padding: 1.5rem;
      color: white;
    "
  >
    STUDENT MANAGEMENT
  </h1>
  <div class="header">
    <button
      class="k-button add"
      (click)="clearForm()"
      *ngIf="!opened"
      (click)="open()"
    >
      Add Student
    </button>
    <kendo-upload [autoUpload]="false" (upload)="onUpload($event)">
    </kendo-upload>
  </div>

  <kendo-grid
    [data]="items"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    [resizable]="true"
    [data]="gridView"
    (pageChange)="pageChange($event)"
    [height]="450"
    (remove)="removeHandler($event)"
    (edit)="editHandler1($event)"
    (save)="saveHandler($event)"
  >
    <kendo-grid-column field="name" title="name" editor="text">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="email" editor="text">
    </kendo-grid-column>
    <kendo-grid-column
      field="dateofbirth"
      format="yyyy/MM/dd"
      title="Date Of Birth"
      editor="date"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.dateofbirth | date }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="age" title="age"> </kendo-grid-column>
    <kendo-grid-command-column>
      <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
        <button kendoGridEditCommand class="k-button update">Edit</button>
        <button kendoButton kendoGridSaveCommand [primary]="true">Save</button>

        <button class="k-button delete" kendoGridRemoveCommand>Delete</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
  <kendo-dialog
    title="Please confirm"
    *ngIf="opened"
    (close)="close()"
    [minWidth]="250"
    [width]="450"
  >
    <form class="k-form" [formGroup]="form">
      <kendo-formfield showErrors="initial">
        <kendo-label [for]="name" text="name"></kendo-label>
        <kendo-textbox
          formControlName="name"
          placeholder="name"
          [clearButton]="true"
          #name
          required
        ></kendo-textbox>
        <kendo-formerror>Error:Name is required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield showErrors="initial">
        <kendo-label [for]="email" text="email"></kendo-label>
        <kendo-textbox
          formControlName="email"
          [clearButton]="true"
          placeholder="example@gmail.com"
          #email
          required
        ></kendo-textbox>
        <kendo-formerror>Error: email is required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield showErrors="initial">
        <kendo-label [for]="dateofbirth" text="dateofbirth"></kendo-label>
        <kendo-datepicker
          formControlName="dateofbirth"
          format="yyyy MMMM dd"
          placeholder="YYYY-MM-DD"
          #dateofbirth
          required
        ></kendo-datepicker>

        <kendo-formerror>Error: Date Of Birth is required</kendo-formerror>
      </kendo-formfield>
      <kendo-dialog-actions class="k-form-buttons">
        <button kendoButton k-button (click)="clearForm()">Clear</button>
        <button
          kendoButton
          k-button
          (click)="submitForm()"
          (click)="clearForm()"
          [primary]="true"
        >
          Submit
        </button>
      </kendo-dialog-actions>
    </form>
  </kendo-dialog>
</div>
